<form class="pure-form" [formGroup]="formPromo">
  <fieldset>
    <legend *ngIf="promo == null">New promo</legend>
    <legend *ngIf="promo != null">Edit promo</legend>
    <input type="text" placeholder="code" formControlName="code">
    <input type="number" placeholder="Percentage" formControlName="percentage">
    <input type="text" placeholder="Expiration Date" formControlName="expire">
    <button type="button" (click)="onClickAddPromo(false)" class="pure-button pure-button-primary" [disabled]="!formPromo.valid" *ngIf="!modifying">Add Promo</button>
    <button type="button" (click)="onClickAddPromo(false)" class="pure-button pure-button-primary" [disabled]="!formPromo.valid" *ngIf="modifying">Modify Promo</button>
    <button type="button" (click)="onClickAddPromo(true)" class="pure-button pure-button-primary">Cancel</button>
  </fieldset>
</form>
