<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Code</th>
    <th>Percentage</th>
    <th>Expiration date</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let promo of promos">
    <td>{{promo.id}}</td>
    <td>{{promo.code}}</td>
    <td>{{promo.percentage}}%</td>
    <td>{{promo.expirationDate}}</td>
    <td><button class="pure-button" type="button" (click)="onModifyClick(promo)">Edit</button></td>
    <td><button class="pure-button" type="button" (click)="onDeleteClick(promo)">X</button></td>
  </tr>
  </tbody>
</table>
