<h2 class="text-center">List of Products</h2>
<select class="custom-select" name="filterOptions" [(ngModel)]="optionSelected">
  <option *ngFor="let o of OPTIONS" [ngValue]="o">
    {{intToNameOfOption(o)}}
  </option>
</select>
<table class="pure-table pure-table-stripped table-hover">
  <thead>
  <tr class="pure-thead">
    <th>Product</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let merch of merchs|filterMerch:optionSelected">
    <td><a routerLink="/merch/{{merch.id}}">{{merch.label}}</a></td>
    <td>{{merch.price}}€</td>
  </tr >
  </tbody>
</table>
