<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Label</th>
    <th>Price</th>
    <th>PromoId</th>
    <th>Details</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let merch of merchs">
    <td>{{merch.id}}</td>
    <td>{{merch.label}}</td>
    <td>{{merch.price}}€</td>
    <td>{{merch.promoId}}</td>
    <td><a routerLink="/merch/{{merch.id}}">Details</a></td>
    <td><button class="pure-button" type="button" (click)="onModifyClick(merch)">Edit</button></td>
    <td><button class="pure-button" type="button" (click)="onDeleteClick(merch)">X</button></td>
  </tr>
  </tbody>
</table>
