<div class="splash-container-details">
  <div class="splash-head-details">
  <div class="splash-subhead text-center" *ngIf="user.securityLevel == 0">
    User account
  </div>
  <div class="splash-subhead text-center" *ngIf="user.securityLevel == 1">
    Admin account
  </div>
  <br />
  <div class=" text-center">
    <ngx-qrcode [qrc-element-type]="elementType" [qrc-value] = "user.qrcode" qrc-class="test-class"></ngx-qrcode>
  </div>

  <ul class="list-details">
    <li>Email : {{user.email}}<br/></li>
    <li>Phone number : {{user.phoneNumber}}</li>
    <li>Postal code : {{user.postalCode}}</li>
    <li>Balance : {{user.balance}}€</li>
  </ul>
    <div class="list-details" *ngIf="!chargeAccount">
      <button type="button" class="pure-button list-details" style="font-size: 70%" (click)="toggleChargeAccount()" *ngIf="!isAdmin">Recharge account</button>
      <button type="button" class="pure-button" (click)="triggerUpdate()" style="font-size: 70%" *ngIf="!isAdmin">Edit Account</button>
    </div>
    <div class="list-details" *ngIf="chargeAccount">
      <form [formGroup]="chargeForm">
        <fieldset>

          <label for="val">Amount : </label>
          <input  formControlName='value' id="val" type="number">

          <button type="button" class="pure-button" style="font-size: 70%" (click)="rechargeAccount(false)" [disabled]="!chargeForm.valid">Recharge</button>
          <button type="button" class="pure-button" style="font-size: 70%" (click)="rechargeAccount(true)">Cancel</button>


        </fieldset>
      </form>
    </div>
    <div class="list-details">
      <h2>History</h2>
      <app-list-history [histories]="histories"></app-list-history>
    </div>
  </div>
</div>
