
<div class="splash" id="app">
  <div><video #video id="video" width="640" height="480" autoplay></video></div>
  <canvas #canvas id="canvas" width="640" height="480"></canvas>
</div>
<div>
  <ng2-qrcode-reader (result)="render($event)" [qrr-show]="showQRCode" [qrr-value]="value" [qrr-type]="elementType"></ng2-qrcode-reader>
</div>
