<app-navbar></app-navbar>
<div class="splash-container-details">
  <div class="splash-head-details">
    <div class="splash-subhead">
    {{merch?.label}}<br/>
    </div>
    <ul class="list-details">
      <li>Description : {{merch?.description}}</li>
      <li>Price : {{merch?.price}}€</li>
      <li>Type : {{merch?.type}}</li>
      <li>Promotion id : {{merch?.promoId}}</li><br />
      <button type="button" class="pure-button" (click)="onClick()">Add to cart</button>
    </ul>
  </div>
</div>
