<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Details</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td><a routerLink="/user/{{user.id}}">Details</a></td>
    <td><button class="pure-button" type="button" (click)="onModifyClick(user)">Edit</button></td>
    <td><button class="pure-button" type="button" (click)="onDeleteClick(user)">X</button></td>
  </tr>
  </tbody>
</table>

