<app-navbar></app-navbar>

<br />
<br />

<div class="content">
  <mat-tab-group>
    <mat-tab label="Manage users">
      <br />
      <div *ngIf="editingUser">
        <app-create-edit-user (onUserAdded)="onUserAdded($event)" [isAdmin]="true" [user]="userToModify"></app-create-edit-user>
      </div>
      <div *ngIf="!editingUser">
        <button type="button" class="pure-button" (click)="toggleEditingUser()">+ Add new user</button><br/><br/>
      </div>
      <app-list-user [users]="users" (onUserDeleted)="onUserDeleted($event)" (onUserModify)="onUserModify($event)"></app-list-user>
    </mat-tab>
    <mat-tab label="Manage merchs">
      <br />
      <div *ngIf="editingMerch">
        <app-create-edit-merch (onMerchAdded)="onMerchAdded($event)" [merch]="merchToModify"></app-create-edit-merch>
      </div>
      <div *ngIf="!editingMerch">
        <button type="button" class="pure-button" (click)="toggleEditingMerch()">+ Add new merch</button><br/><br/>
      </div>
      <app-list-merch [merchs]="merchs" (onMerchDeleted)="onMerchDeleted($event)" (onMerchModify)="onMerchModify($event)"></app-list-merch>
    </mat-tab>
    <mat-tab label="Manage promos">
      <br />
      <div *ngIf="editingPromo">
       <app-create-edit-promo (onPromoAdded)="onPromoAdded($event)" [promo]="promoToModify"></app-create-edit-promo>
</div>
      <div *ngIf="!editingPromo">
        <button type="button" class="pure-button" (click)="toggleEditingPromo()" >+ Add new Promo</button><br/><br/>
      </div>
      <app-list-promo [promos]="promos" (onPromoDeleted)="onPromoDeleted($event)" (onPromoModify)="onPromoModify($event)" ></app-list-promo>
    </mat-tab>
  </mat-tab-group>
</div>
