
<div *ngIf="histories == [];else other_content" >
  Empty
</div>

<ng-template #other_content>
  <div style="height: 280px;overflow:scroll;overflow-x:hidden;">
    <table class="pure-table table-striped table-hover">
    <thead>
    <tr>
      <th>Merchandise id</th>
      <th>Date</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let history of histories">
      <td>{{history.merchId}}</td>
      <td>{{history.date}}</td>
      <td>{{history.amount}}</td>
    </tr>
    </tbody>
  </table>
  </div>
</ng-template>

