<app-navbar ></app-navbar>

<br />
<br />

<div class="content" *ngIf="user == null && !loginByQR">
  <h2 class="content-head is-center" >Log to your account</h2>
  <div class="pure-g">
    <div class="l-box-lrg pure-u-1 pure-u-md-8-24">
      <form class="pure-form pure-form-stacked" [formGroup]="loginForm">
        <fieldset>

          <label for="email">Your Email</label>
          <input  formControlName='mail' id="email" type="email" placeholder="Your Email">

          <label for="password">Your Password</label>
          <input formControlName='password' id="password" type="password" placeholder="Your Password">

          <button type="button" (click)="verifyUser('')" class="pure-button" [disabled]="!loginForm.valid">Sign in</button>
          <br />
          <br />
          <button type="button" (click)="toggleQRScan()" class="pure-button">Log in with QR Code</button>

        </fieldset>
      </form>
    </div>
  </div>
</div>

<div *ngIf="loginByQR">
  <app-webcam-reader (qrValue)="verifyUser($event)"></app-webcam-reader>
</div>

<div *ngIf="user != null">
  You are already connected.
</div>
