<app-navbar></app-navbar>

<div class="content">
  <h2 class="content-head is-center" *ngIf="!userCreated">Register now</h2>
  <h2 class="content-head is-center" *ngIf="userCreated">Save your QR code Now !</h2>
  <div class="pure-g">
    <div *ngIf="!userCreated" class="l-box-lrg pure-u-1 pure-u-md-8-24">
      <form [formGroup]="registerForm" class="pure-form pure-form-stacked">
        <fieldset>

          <label for="email">Your Email</label>
          <input  formControlName='mail' id="email" type="email" placeholder="Your Email">

          <label for="FirstName">Your Name</label>
          <input formControlName='firstName' id="FirstName" type="text" placeholder="First Name">

          <label for="LastName">Your Last Name</label>
          <input formControlName='lastName' id="LastName" type="text" placeholder="Last Name">

          <label for="PhoneNumber">Your Phone Number</label>
          <input formControlName='phoneNumber' id="PhoneNumber" type="number" placeholder="PhoneNumber">

          <label for="password">Your Password</label>
          <input formControlName='password' id="password" type="password" placeholder="Your Password">

          <label for="ConfirmPassword">Confirm Password</label>
          <input formControlName='confirmPassword' id="ConfirmPassword" type="password" placeholder="Confirm Your Password">

          <label for="PostalCode">Your PostCode</label>
          <input formControlName='postalCode' id="PostalCode" type="number" placeholder="ZipCode">

          <button type="button" (click)="postUser()" class="pure-button" [disabled]="!registerForm.valid">Sign Up</button>
        </fieldset>
      </form>
    </div>
  </div>
  <div *ngIf="userCreated" class="pure-g text-center">
    <app-confirmation-inscription [qrDataValue]="getNewUserQrCode()"></app-confirmation-inscription>

  </div>
</div>
