<app-navbar></app-navbar>
<br />
<br />
<div *ngIf="!updateAccount">
<app-detail-user [user]="user" [histories]="histories" (onChargeAccount)="onChargeAccount($event)" (onTriggerUpdateAccount)="onTriggerUpdate($event)" [isAdmin]="isAdmin"></app-detail-user>
</div>

<div class="splash-container-details" *ngIf="updateAccount">
  <div class="splash-head-details">
    <app-create-edit-user [user]="user" [isAdmin]="false" (onUserAdded)="onUserUpdated($event)"></app-create-edit-user>
  </div>
</div>


