<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Label</th>
    <th>Price</th>
    <th>PromoId</th>
    <th>Amount</th>
    <th>Details</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let merch of cart, let i = index">
    <td>{{merch.id}}</td>
    <td>{{merch.label}}</td>
    <td>{{merch.price}}€</td>
    <td>{{merch.promoId}}</td>
    <td><input type="number" [(ngModel)]="amounts[i]" (change)="changeAmount()"/></td>
    <td><a routerLink="/merch/{{merch.id}}">Details</a></td>
    <td><button class="pure-button" type="button" (click)="deleteCartItem(merch)">X</button></td>
  </tr>
  </tbody>
</table>
