<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">TicketLess</a>

    <ul class="pure-menu-list">
      <li *ngIf="!isUserNull()" class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
        <a [routerLink]="gotoUserDetails()"  routerLinkActive="active" class="pure-menu-item">{{getActiveUserName()}}</a>
        <ul class="pure-menu-children">
          <li *ngIf="isAdmin()" class="pure-menu-item"><a [routerLink]="gotoAdminMenu()" class="pure-menu-link">Admin Settings</a></li>
          <li class="pure-menu-item"><a [routerLink]="gotoUserDetails()" class="pure-menu-link">User Settings</a></li>
          <li class="pure-menu-item"><a routerLink="/checkout" class="pure-menu-link">Cart</a></li>
          <li class="pure-menu-item"><a (click)="logout()" href="#" routerLinkActive="active" class="pure-menu-link">Log out</a></li>
        </ul>
      </li>
      <li *ngIf="isUserNull()" class="pure-menu-item"><a routerLink='/register' routerLinkActive="active" class="pure-menu-link">Sign Up</a></li>
      <li *ngIf="isUserNull()" class="pure-menu-item"><a routerLink='/login' routerLinkActive="active" class="pure-menu-link">Sign In</a></li>
      <li *ngIf="!isUserNull()" class="pure-menu-item"><a routerLink='/merch' routerLinkActive="active" class="pure-menu-link">Products</a></li>
      <li class="pure-menu-item"><a routerLink='' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="pure-menu-link">Home</a></li>
    </ul>
  </div>
<br />
<br />
