@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
@viewport {
  max-zoom: 200%;
  min-zoom: 50%;
}
@font-face {
  font-family: 'Faune';
  src:    url('/Scripts/angular/assets/fonts/Faune_Fonts/eot/Faune-Display_Black.eot');
  src:    url('/Scripts/angular/assets/fonts/Faune_Fonts/eot/Faune-Display_Black.eot?#iefix') format('embedded-opentype'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/woff/Faune-Display_Black.woff') format('woff'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/woff2/Faune-Display_Black.woff2') format('woff2'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/ttf/Faune-Display_Black.ttf') format('truetype'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/svg/Faune-Display_Black.svg#svgFontName') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Faune';
  src:    url('/Scripts/angular/assets/fonts/Faune_Fonts/eot/Faune-Display_Bold_Italic.eot');
  src:    url('/Scripts/angular/assets/fonts/Faune_Fonts/eot/Faune-Display_Bold_Italic.eot?#iefix') format('embedded-opentype'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/woff/Faune-Display_Bold_Italic.woff') format('woff'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/woff2/Faune-Display_Bold_Italic.woff2') format('woff2'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/ttf/Faune-Display_Bold_Italic.ttf') format('truetype'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/svg/Faune-Display_Bold_Italic.svg#svgFontName') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Faune';
  src:    url('/Scripts/angular/assets/fonts/Faune_Fonts/eot/Faune-Display_Thin.eot');
  src:    url('/Scripts/angular/assets/fonts/Faune_Fonts/eot/Faune-Display_Thin.eot?#iefix') format('embedded-opentype'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/woff/Faune-Display_Thin.woff') format('woff'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/woff2/Faune-Display_Thin.woff2') format('woff2'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/ttf/Faune-Display_Thin.ttf') format('truetype'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/svg/Faune-Display_Thin.svg#svgFontName') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Faune';
  src:    url('/Scripts/angular/assets/fonts/Faune_Fonts/eot/Faune-Text_Bold.eot');
  src:    url('/Scripts/angular/assets/fonts/Faune_Fonts/eot/Faune-Text_Bold.eot?#iefix') format('embedded-opentype'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/woff/Faune-Text_Bold.woff') format('woff'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/woff2/Faune-Text_Bold.woff2') format('woff2'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/ttf/Faune-Text_Bold.ttf') format('truetype'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/svg/Faune-Text_Bold.svg#svgFontName') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Faune';
  src:    url('/Scripts/angular/assets/fonts/Faune_Fonts/eot/Faune-Text_Italic.eot');
  src:    url('/Scripts/angular/assets/fonts/Faune_Fonts/eot/Faune-Text_Italic.eot?#iefix') format('embedded-opentype'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/woff/Faune-Text_Italic.woff') format('woff'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/woff2/Faune-Text_Italic.woff2') format('woff2'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/ttf/Faune-Text_Italic.ttf') format('truetype'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/svg/Faune-Text_Italic.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Faune';
  src:    url('/Scripts/angular/assets/fonts/Faune_Fonts/eot/Faune-Text_Regular.eot');
  src:    url('/Scripts/angular/assets/fonts/Faune_Fonts/eot/Faune-Text_Regular.eot?#iefix') format('embedded-opentype'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/woff/Faune-Text_Regular.woff') format('woff'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/woff2/Faune-Text_Regular.woff2') format('woff2'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/ttf/Faune-Text_Regular.ttf') format('truetype'),
  url('/Scripts/angular/assets/fonts/Faune_Fonts/svg/Faune-Text_Regular.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}



/*
NGX QR CODE GENERATOR STYLE
 */
 .test-class > img {
 }


/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,

input{
  color: #34495e;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
  padding: 1em;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
  text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%;
  color: white;

}

.pure-form input[type] {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
  background-color: #1f8dd6;
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
}

a.pure-button-primary {
  background: white;
  color: #1f8dd6;
  border-radius: 5px;
  font-size: 120%;
}

/*table styles
*
*/
.pure-table{
  overflow-y:auto;
  width: 100%;
}

.pure-thead{
  color: white;
  background-color: #2D3E50;
  height: 20%;
}


/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
.custom-select-wrapper select {
  display: none;
}
.custom-select {
  position: relative;
  display: inline-block;
}
.custom-select-trigger {
  position: relative;
  display: block;
  width: 130px;
  padding: 0 84px 0 22px;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  line-height: 60px;
  background: #5c9cd8;
  border-radius: 4px;
  cursor: pointer;
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px; height: 10px;
  top: 50%; right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%; left: 0; right: 0;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0,0,0,.07);
  background: #fff;
  transition: all .4s ease-in-out;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}
.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}
.custom-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%; right: 25px;
  width: 7px; height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}
.option-hover:before {
  background: #f9f9f9;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 18px;
  font-weight: 600;
  color: #b5b5b5;
  line-height: 47px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
  background: #f9f9f9;
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
  background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

.home-menu .pure-menu-heading {
  font-family: Faune, sans-serif;
  font-style: italic;
  color: white;
  font-weight: 400;
  font-size: 200%;
}

.home-menu .pure-menu-user {
  font-family: Faune, sans-serif;
  color: white;
  font-weight: 400;
  font-size: 150%;
  text-align: center;
}


.home-menu .pure-menu-selected a {
  color: white;
  font-family: Faune, sans-serif;
  font-weight: 400;
  font-size: 200%;
}

.home-menu a {
  color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: #AECFE5;
}



/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
  background: #1f8dd6 url("/Scripts/angular/assets/img/common/big.jpeg") no-repeat;
  z-index: 1;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 88%;
  top: 0;
  left: 0;
  position: fixed !important;
}
@media (min-width: 250px) {
  .splash-container {
    background-image: url("/Scripts/angular/assets/img/common/small.jpeg");
  }
}
@media (min-width: 400px) {
  .splash-container {
    background-image: url("/Scripts/angular/assets/img/common/medium.jpeg");
  }
}
@media (min-width: 800px) {
  .splash-container {
    background-image: url("/Scripts/angular/assets/img/common/big.jpeg");
  }
}
@media (min-width: 2000px) {
  .splash-container {
    background-image: url("/Scripts/angular/assets/img/common/immense.jpg");
  }
}

.splash-container-details {
  margin-top: 3%;
  background: #1f8dd6 url("/Scripts/angular/assets/img/common/blur-details-background.jpg");
  z-index: 1;
  font-size: 25px;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed !important;
}
.list-details {
  margin-left: 10%;
}
.splash {
  /* absolute center .splash within .splash-container */
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px; left: 0; bottom: 0; right: 0;
  text-align: center;
  text-transform: uppercase;
}

.splash-details {
  /* absolute center .splash within .splash-container */
  width: 60%;
  padding-left: 25%;
  padding-right: 25%;
  height: 70%;
  margin: auto;
  position: absolute;
  top: 100px; left: 0; bottom: 0; right: 0;
  text-align: center;
  color: darkslategray;
  text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head-details {
  margin-top: 5%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
  background-color: rgba(45, 62, 80, .4);
}

.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
  background-color: rgba(255, 255, 255, .4);
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
  color: white;
  background-color: rgba(86,95,102,.4) ;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  position: absolute;
  top: 87%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: white;

}

/* We want to give the content area some more padding */
.content {
  padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
  color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
  color: #1f8dd6;
}
.content-subhead i {
  margin-right: 7px;
}

/* This is the class used for the dark-background areas. */
.ribbon {
  background: #2d3e50;
  color: #aaa;
}

/* This is the class used for the footer */
.footer {
  background: #111;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

  /* We increase the body font size */
  body {
    font-size: 16px;
  }

  /* We can align the menu header to the left, but float the
  menu items to the right. */
  .home-menu {
    text-align: left;
  }
  .home-menu ul {
    float: right;
  }

  /* We increase the height of the splash-container */
  /*    .splash-container {
          height: 500px;
      }*/

  /* We decrease the width of the .splash, since we have more width
  to work with */
  .splash {
    width: 50%;
    height: 50%;
  }

  .splash-head {
    font-size: 250%;
  }


  /* We remove the border-separator assigned to .l-box-lrg */
  .l-box-lrg {
    border: none;
  }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
  /* We increase the header font size even more */
  .splash-head {
    font-size: 300%;
  }
}
