<app-navbar></app-navbar><br/>
<h1>Checkout</h1><br/>
<app-list-cart [cart]="cart" [amounts]="amounts" (onChangeAmount)="changeAmounts($event)" (onDeleteCartItem)="deleteCartItem($event)"></app-list-cart>
Total price : {{total}}€<br/>
Promotions : {{totalRed}}€<br/>
Total price with promotion : {{totalWithRed}}€<br/>

<button type="button" class="pure-button" [disabled]="total==0" (click)="onCheckout()">Checkout</button>
