<form class="pure-form" [formGroup]="userForm">
  <fieldset>
    <legend *ngIf="isAdmin && user == null">New user</legend>
    <legend *ngIf="!isAdmin || user != null">Edit user</legend>
    <input type="email" placeholder="mail" formControlName="mail">
    <input type="text" placeholder="password" formControlName="password">
    <input *ngIf="isAdmin" type="number" placeholder="Security level" formControlName="security">
    <input *ngIf="isAdmin" type="number" placeholder="Balance" formControlName="balance">
    <input type="text" placeholder="First name" formControlName="firstName">
    <input type="text" placeholder="Last name" formControlName="lastName">
    <input type="text" placeholder="Phone number" formControlName="phoneNumber">
    <input type="text" placeholder="Zip code" formControlName="postalCode">
    <button type="button" (click)="onClickAddUser(false)" class="pure-button pure-button-primary" [disabled]="!userForm.valid" *ngIf="!modifying">Add User</button>
    <button type="button" (click)="onClickAddUser(false)" class="pure-button pure-button-primary" *ngIf="modifying">Modify User</button>
    <button type="button" (click)="onClickAddUser(true)" class="pure-button pure-button-primary">Cancel</button>
  </fieldset>
</form>
