<form class="pure-form" [formGroup]="formMerch">
  <fieldset>
    <legend *ngIf="merch == null">New merch</legend>
    <legend *ngIf="merch != null">Edit merch</legend>
    <input type="text" placeholder="label" formControlName="label">
    <select formControlName="type">
      <option *ngFor="let t of types" [ngValue]="t">
        {{intToName(t)}}
      </option>
    </select><br/><br/>
    <input type="number" placeholder="price(€)" formControlName="price">
    <input type="number" placeholder="Promo Id" formControlName="promoId">
    <input type="text" placeholder="Description" formControlName="description">
    <button type="button" (click)="onClickAddMerch(false)" class="pure-button pure-button-primary" [disabled]="!formMerch.valid" *ngIf="!modifying">Add merch</button>
    <button type="button" (click)="onClickAddMerch(false)" class="pure-button pure-button-primary" [disabled]="!formMerch.valid" *ngIf="modifying">Modify merch</button>
    <button type="button" (click)="onClickAddMerch(true)" class="pure-button pure-button-primary">Cancel</button>
  </fieldset>
</form>
